<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/header.ejs') %>


<body>

 
  
  <%- include('./partials/nav.ejs') %>


  <div class="hero">

    <img src="/images/download.jpg" alt="Hero Image">
    <div class="hero-overlay"></div>

  </div>


 
  <div class="container" style="margin-top: 25px;">

    <h2 style="margin-bottom: 25px;">Search Results for '<%= query %>'</h2>
  
    <div class="row">

      <% if (searchResults.length > 0) { %>
  
        <% searchResults.forEach(movie => { %>

          <div class="col-md-4">

            <div class="card">

              <img src="<%= movie.image %>" class="card-img-top" alt="<%= movie.title %>">

              <div class="card-body">

                <h5 class="card-title"><%= movie.title %></h5>
                <a href="/readmore/<%= movie.id %>" class="btn btn-primary">Read More</a>

              </div>

            </div>

          </div>

        <% }); %>
  
      <% } else { %>
  
        <div class="col-md-12">

          <p>No movies found for '<%= query %>'</p>
          <a href="/form" class="btn btn-primary">Add a Movie</a>

        </div>
  
      <% } %>

    </div>
    
  </div>
  


 
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  
</body>
</html>
