<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/header.ejs') %>



<body>


  <%- include('./partials/nav.ejs') %>

  <div class="hero">

    <img src="/images/download.jpg" alt="Hero Image">
    <div class="hero-overlay"></div>

  </div>


  <div class="container">

    <div class="row justify-content-center">

      <div class="col-md-4">
        
        <h2>Update Movie</h2>

        <form action="/update/<%= movie.id %>" method="post" enctype="multipart/form-data">

          <div class="form-group">
            <label for="title">Movie Name</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Enter Movie Name" value="<%= movie.title %>" required>
          </div>

          <div class="form-group">
            <label for="director">Director Name</label>
            <input type="text" class="form-control" id="director" name="director" placeholder="Enter Director Name" value="<%= movie.director %>" required>
          </div>

          <div class="form-group">
            <label for="releaseYear">Release Year</label>
            <input type="text" class="form-control" id="releaseYear" name="releaseYear" placeholder="Enter Release Year" value="<%= movie.releaseYear %>" required>
          </div>

          <div class="form-group">
            <label for="genre">Genre</label>
            <input type="text" class="form-control" id="genre" name="genre" placeholder="Enter Genre" value="<%= movie.genre %>" required>
          </div>

          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" name="description" rows="3" placeholder="Enter Description" required><%= movie.description %></textarea>
          </div>

          <div class="form-group">
            <label for="image">Image</label>
            <input type="file" class="form-control-file" id="image" name="image" accept="image/*" value="<%= movie.image %>" required>
          </div>

          <button type="submit" class="btn btn-primary">Update Movie</button>

        </form>

      </div>
    </div>
  </div>

  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


</body>

</html>
